<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - nodejs.sargant.com</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/js/jcanvas.min.js"></script>
    <script src="/assets/js/jquery.miniColors.min.js"></script>
    <script src="/assets/js/jquery.animate-colors-min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/assets/css/jquery.miniColors.css" />
    <style type="text/css">
      body { padding-top: 60px; }
	  footer { color: #999 }
    </style>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30152761-1']);
      _gaq.push(['_setDomainName', 'sargant.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
        <div class="container">
		  <a class="brand" href="/">rob's nodejs stuff</a>
		  <ul class="nav">
			<li><a href="/canvas">Canvas</a></li>
		  </ul>
		  <ul class="nav pull-right">
			<% if (identity.username === undefined) { %>
			  <li><a href="/oauth/twitter/connect?returnurl=<%= url %>">Log in via twitter</a></li>
			<% } else { %>
			  <li><p class="navbar-text">Hello <strong>@<%= identity.username %></strong></p></li>
			  <li class="divider-vertical"></li>
			  <li><a href="/oauth/logout?returnurl=<%= url %>">Log out</a></li>
			<% } %>
		  </ul>
        </div>
      </div>
    </div>
    <div class="container">
	
      <%- body %>
	  
	  <hr>

      <footer>
        <p>
			This was made by Rob Sargant (<a href="http://twitter.com/sargant">@sargant</a>)
			and the source code is available on <a href="http://github.com/sargant/nodejs-stuff">github</a>
		</p>
      </footer>
    </div>
  </body>
</html>
